.offer {
    padding-top: 50px;
    &__title {
        margin-bottom: 27px;
    }

    &__list {
        display: flex;
        column-gap: 33px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__card {
        flex: 0 0 calc(25% - 25px);
        position: relative;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        @media (max-width: 1023px) {
            flex: 0 0 calc(33.333% - 22px);
        }
        @media (max-width: 767px) {
            flex: 0 0 calc(50% - 17px);
        }
    }

    &__card-pic {
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        padding-bottom: 89%;
        position: relative;
        & img {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            transition: 0.4s;
            bottom: 0;
            height: 100%;
            left: 0;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__card-btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 12px 10px;
        text-decoration: none;
        @media (max-width: 539px) {
            font-size: 12px;
            padding: 5px 5px;
        }
        & span {
            display: block;
            text-decoration: underline;
            @media (max-width: 539px) {
                font-size: 12px;
            }
        }
    }
}
